################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PROCESSED_FILES
/LogRsync
/archive_logging
/archive_error
/test
/error.log
/monitor.log